* {
  box-sizing: border-box;
}

body {
  /* To be kept in sync with \`manifest.webmanifest\`. */
  background-color: rgb(66, 55, 66);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body .no-script-message {
  align-items: center;
  color: red;
  display: flex;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  height: 100vh;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
