* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: cursive;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body > header-ce {
  z-index: 10;  /* To render `box-shadow` above main content. */
}
