* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body > header-ce {
  z-index: 10;  /* To render `box-shadow` above main content. */
}

body .no-script-message {
  align-items: center;
  color: red;
  display: flex;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  height: 100vh;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
